<article class="weui-article">
    <section>
        <p>欢迎使用 “全国计算机等级考试查询系统”，您可以在这里查询报名时间，考场信息，准考证下载，以及考点安排，考试成绩查询等信息。</p>
        <p>提示：数据并非时时更新上次数据更新时间：2016年12月11日</p>
    </section>
</article>
<div class="weui-msg__opr-area">
    <p class="weui-btn-area">
        <a ui-sref="notickets" class="weui-btn weui-btn_primary">查询考试信息</a>
    </p>
</div>
<div class="weui-msg__opr-area">
    <p class="weui-btn-area">
        <a ui-sref="personal" class="weui-btn weui-btn_default">个人中心</a>
    </p>
</div>
