<article class="weui-article">
    <section>
        <p>请你绑定您的个人信息，方便您获取报名时间，考场信息，准考证下载，以及考点安排，考试成绩查询等信息。 我们默认为您开启“接收推送消息功能”，我们将通过推送消息提醒您参加考试，以及查询成绩等信息，如果您不想接受消息，请到个人中心取消该项功能</p>
    </section>
</article>
<div class="weui-cells__title">请输入：</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">姓名</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入姓名" />
        </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">证件号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="tel" placeholder="请输入证件号">
        </div>
    </div>
</div>
<div class="weui-msg__opr-area">
    <p class="weui-btn-area">
        <a ui-sref="home1" class="weui-btn weui-btn_primary">绑定</a>
    </p>
</div>
</div>
