<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>姓名：</p>
        </div>
        <div class="weui-cell__ft">黄某某</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>身份证号：</p>
        </div>
        <div class="weui-cell__ft">130423199106101417</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>报名信息：</p>
        </div>
        <div class="weui-cell__ft">暂时没有您的报名信息请稍后查询</div>
    </div>
</div>
<div class="weui-msg__opr-area">
    <p class="weui-btn-area">
        <a ui-sref="tickets" class="weui-btn weui-btn_primary">确定</a>
    </p>
</div>
