<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>姓名：</p>
            </div>
            <div class="weui-cell__ft">黄某某</div>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>身份证号：</p>
            </div>
            <div class="weui-cell__ft">130423199106101417</div>
        </div>
    </div>
</div>
<div class="weui-cells__title">查询结果1：</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>报考级别：</p>
        </div>
        <div class="weui-cell__ft">计算机一级</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>考试科目：</p>
        </div>
        <div class="weui-cell__ft">计算机基础及MS Office应用</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>准考证号：</p>
        </div>
        <div class="weui-cell__ft">47120048002119</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>考试地点：</p>
        </div>
        <div class="weui-cell__ft">河北工业大学第一考场</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>考试时间：</p>
        </div>
        <div class="weui-cell__ft">2016年12月10日 10:00-12:00</div>
    </div>
</div>
<div class="weui-cells__title">查询结果2：</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>报考级别：</p>
        </div>
        <div class="weui-cell__ft">计算机二级</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>考试科目：</p>
        </div>
        <div class="weui-cell__ft">c++语言程序设计</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>准考证号：</p>
        </div>
        <div class="weui-cell__ft">57120048002119</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>考试地点：</p>
        </div>
        <div class="weui-cell__ft">河北工业大学第一考场</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>考试时间：</p>
        </div>
        <div class="weui-cell__ft">2016年12月10日 10:00-12:00</div>
    </div>
</div>
<div class="weui-msg__opr-area">
    <p class="weui-btn-area">
        <a ui-sref="noscore" class="weui-btn weui-btn_primary">确定</a>
    </p>
</div>
