<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">信息绑定成功！</h2>
        <p class="weui-msg__desc">您的个人信息绑定成功，可以点击查询按钮查询考试安排和成绩</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a ui-sref="notickets" class="weui-btn weui-btn_primary">查询考试信息</a>
            <a ui-sref="personal" class="weui-btn weui-btn_default">个人中心</a>
        </p>
    </div>
</div>
