<div class="page-body">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <label class="weui-label">身份证号：</label>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入qq号"/>
            </div>
        </div>
        <div class="weui-cell weui-cell_switch">
            <div class="weui-cell__bd">接受推送消息</div>
            <div class="weui-cell__ft">
                <input class="weui-switch" type="checkbox"/>
            </div>
        </div>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a ng-click="randomNext()" class="weui-btn weui-btn_primary">确定</a>
        </p>
    </div>
</div>

