<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>姓名：</p>
            </div>
            <div class="weui-cell__ft">黄某某</div>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>身份证号：</p>
            </div>
            <div class="weui-cell__ft">130423199106101417</div>
        </div>
    </div>
</div>
<div class="weui-cells__title">查询结果1：</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>报考级别：</p>
        </div>
        <div class="weui-cell__ft">计算机一级</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>考试科目：</p>
        </div>
        <div class="weui-cell__ft">计算机基础及MS Office应用</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>考试结果：</p>
        </div>
        <div class="weui-cell__ft">暂无 预计2017年1月公布成绩</div>
    </div>
</div>
<div class="weui-cells__title">查询结果2：</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>报考级别：</p>
        </div>
        <div class="weui-cell__ft">计算机二级</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>考试科目：</p>
        </div>
        <div class="weui-cell__ft">c++语言程序设计</div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>考试结果：</p>
        </div>
        <div class="weui-cell__ft">暂无 预计2017年1月公布成绩</div>
    </div>
</div>
<div class="weui-msg__opr-area">
    <p class="weui-btn-area">
        <a ui-sref="score" class="weui-btn weui-btn_primary">确定</a>
    </p>
</div>
