<div class="page">
    <div class="page__hd">
        <div class="weui-cells">
            <div class="weui-cell">
                <p class="page__desc">身份证号：130225199911112222</p>
            </div>
        </div>
    </div>
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">查询失败</h2>
            <p class="weui-msg__desc">系统暂未查询到您的相关信息，请确认您 输入的身份证号码是否正确</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="javascript:history.back();" class="weui-btn weui-btn_primary">返回</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__text">Copyright &copy; 2013-2016 梦云智</p>
            </div>
        </div>
    </div>
</div>
