<div class="page">
    <div class="page__bd">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" placeholder="130225199911112222"/>
                </div>
            </div>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a ng-click="randomNext()" class="weui-btn weui-btn_primary">确定</a>
            </p>
        </div>
    </div>
</div>
